<p>Radio Angrezi is an experimental ground for sound, music, voice and live performance. It broadcasts weekly from its studio at Speicher XI (Bremen) on radioangrezi.de, as well as occasionally on 92,5 FM, receivable in the Bremen and the surrounding area. In addition special broadcasts covering concerts, lectures, presentations and exhibition openings are produced regularly.<br/><br/>

Radio Angrezi is an autonomous student collective, spanning all disciplines, study departments and multiple languages. It is open for students, teachers and guests. It aims to rise questions, develop new conditions, shapes and formats, to perform and to broadcast – collectively or individually – to listen, to observe and to discuss.<br/><br/>

Since 2019, Radio Angrezi has been organizing experimental formats like a performance at OUT NOW festival, as part of the summerschool at the Biennale di Venezia or locally in Bremen at the Open Space Domshof, the Irgendwo or the Güterbahnhof.<br/><br/>

Interested in broadcasting, performing, supporting, mixing or just hanging out? Drop by in Segment 7 in Speicher XI or send a line to <a class="black-link" href="mailto:radioangrezi@hfk-bremen.de">radioangrezi@hfk-bremen.de</a></p>
<br>

<p>
    Visit the studio during the live streams:<br>
    <address>
        Radio Angrezi<br>
        Hochschule f&uuml;r K&uuml;nste Bremen<br>
        Am Speicher XI 7<br>
        28217 Bremen <br>
        Germany
    </address>
    Or call in to the show: <a class="black-link" href="tel:+49-421-95-95-12-12">0421 95 95 12 12</a><br>
</p><br/>
<p>Contact Radio Angrezi:</p>
<p>
    You can write us ideas about any kind of contribution or just to say hi!<br/>
    Email: <a class="black-link" href="mailto:radioangrezi@hfk-bremen.de">radioangrezi@hfk-bremen.de</a><br/>
    Production office: <a class="black-link" href="tel:+49-421-95-95-12-13">0421 95 95 12 13</a><br>
</p>
<br>
<!--         <p>Radio Angrezi members: Rami Abadir, Jelko Arnds, Thomas Frank, Simon Glaser, Lennart Hespenheide, Sylvia Jürgens, Lukas Leck, Patrick Peljhan, Kaja Poestges, Isabell Stoßberger, David Unland, Lilja Waehneldt, Xuyan Wang</p>
<br>
<p>Editor: <a class="black-link" href="http://kajapoestges.com/">Kaja Poestges</a></p>
<p>Technical Direction: <a class="black-link" href="http://jelkoarnds.com/">Jelko Arnds</a></p> -->
<p>Web Design: <a class="black-link" href="https://www.instagram.com/lennarthespenheide/">Lennart Hespenheide</a></p>
