{% include t.html key="footer_about" tag="p" %}
	<br>

	<p>
		{% include t.html key="footer_visit" %}<br>
		<address>
			Radio Angrezi<br>
			Hochschule f&uuml;r K&uuml;nste Bremen<br>
			Am Speicher XI 7<br>
			28217 Bremen <br>
			{% include t.html key="footer_country" %}
		</address>
		{% include t.html key="footer_call_in" %} <a class="black-link" href="tel:+49-421-95-95-12-12">0421 95 95 12 12</a><br>
	</p><br/>
	<p>{% include t.html key="footer_contact_heading" %}</p>
	<p>
		{% include t.html key="footer_contact_text" %}<br/>
		{% include t.html key="footer_email" %}: <a class="black-link" href="mailto:radioangrezi@hfk-bremen.de">radioangrezi@hfk-bremen.de</a><br/>
		{% include t.html key="footer_production_office" %}: <a class="black-link" href="tel:+49-421-95-95-12-13">0421 95 95 12 13</a><br>
	</p>
