<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>RADIO ANGREZI</title>

<!-- Since we can currently not support HTTPS on the streaming server, we have to redirect to HTTP always -->
<script type="text/javascript">
    if (window.location.protocol == "https:") {
     location.protocol = "http:";
 }
</script>

<link rel="stylesheet" href="assets/css/styles.css">

<script type="text/javascript" src="assets/js/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/mrp.js"></script>
<script type="text/javascript" src="assets/js/airtime-player.js"></script>
<script type="text/javascript" src="assets/js/vendor/moment/moment.js"></script>
<script type="text/javascript" src="assets/js/airtime-schedule.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u="//analytics.jelkoarnds.com/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', '5']);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->