<div class="notification-section">
    <div class="telegram-link flex-item grid-outline-block">
        <a href="https://t.me/radioangrezi">ON-AIR-<i>bing</i> via Telegram</a>
    </div>
    <div class="mailinglist-form flex-item grid-outline-block">
        <form action="https://mailman.zfn.uni-bremen.de/cgi-bin/mailman/subscribe/ra-friends" method="POST" target="_blank" class="newsletter-form">
            <input type="email" placeholder="become a friend of the mailing list" name="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="" class="email"><button type="submit" class="submit">→</button>
        </form>
    </div>
</div>