<template id="schedule-no-show">
	<article class='show-item'>
		<div class='headlines'>
		<img class='pixel' src='assets/images/MrPixel-moon.svg'>
		<!-- <h1 class='show-time'>SENDE-<br/>PAUSE?!</h1> -->
		<h1 class='show-title'>We have no broadcasts scheduled within the next week. <br/>Can't stand the silence? <a href="{% link special.md %}">Contribute</a> to the programme with your production.</h1>
		</div>
	</article>
</template> 

<template id="schedule-intermission">
	<article class='show-item'>
		<div class='headlines'>
		<img class='pixel' src='assets/images/MrPixel-tongue..svg'>
		<h1 class='show-time'>Its intermission time.</h1>
			
		<h1 class='show-title'>From the 1st of september until the 9th of october the radio will be turned off.<br/>
		We look back on a dense broadcasting schedule and are eager to be back in october.<br/>
		Angrezi out.</h1>
		</div>
	</article>
</template>

<template id="schedule-fail">
	<article class='show-item'>
		<div class='headlines'>
		<img class='pixel' src='assets/images/MrPixel-tear.svg'>
		<h1 class='show-time'>UUPZZ</h1>
		<h1 class='show-title'>Can't connect to the studio: Schedule currently not available right now. Sorry!</h1>
		</div>
	</article>
</template> 
