<template id="schedule-no-show">
	<article class='show-item'>
		<div class='headlines'>
		<img class='pixel' src='assets/images/MrPixel-moon.svg'>
		<h1 class='show-time'>SENDE-<br/>PAUSE</h1>
		<h1 class='show-title'>Angrezi is on holiday break. You should take one as well!<br/>Subscribe to <a href=\"https://t.me/radioangrezi\">Angrezi's Telegram channel</a> to get a notification when we are back.</h1>
		</div>
	</article>
</template> 

<template id="schedule-fail">
	<article class='show-item'>
		<div class='headlines'>
		<img class='pixel' src='assets/images/MrPixel-tear.svg'>
		<h1 class='show-time'>UUPZZ</h1>
		<h1 class='show-title'>Can't connect to the studio: Schedule currently not available right now. Sorry!</h1>
		</div>
	</article>
</template> 