<article class="uws-head">
  <p style="text-align: center; text-transform: uppercase;">
    +++ United We Stream +++
  </p>
  <p>
    Radio Angrezi is part of <i>United We Stream Bremen</i>,<br /><br />
    a solidaric streaming project and a branch of the same named project founded
    in Berlin. <br />
    Our aim is to support local and global non-profit organizations as well as
    Bremens clubs and sub-cultural scene during the COVID-19 outbreak. In the
    following weeks local venues and collectives will join forces to create a
    music livestream from different spaces around Bremen: "We'll bring the club
    into your livingroom!"
    <br /><br />
    <a
      target="_blank"
      href="https://www.betterplace.me/safe-club-culture-safe-solidarity-unitedwestreamhb"
      >support the fundraiser now</a
    >
  </p>
</article>
