<!doctype html>
<html dir="ltr" lang="en-us">
<head>
    {% include html_head.html %}
</head>

<body>
    <div class="wrapper">
        <header class="main-head">
            {% include marquee.html %}
            {% include navigation.html logo_href='#anchor-footer' %}
            {% include notification_section.html %}
        </header>

        <main class="show-section">
        </main>

        <section class="shoutbox-section">

            <div class="wrap-collabsible">
                <input id="collapsible" class="toggle" type="checkbox">
                <label for="collapsible" class="lbl-toggle">Angrezi Chat</label>
                <div class="collapsible-content">
                    <div class="content-inner">

                        <div class="shoutbox-wrapper">
                            <!-- HACK: because we can not share the cookie across origins (subdomains) we need to embed from an iframe. How shit! -->
                            <iframe width="100%" height="960px" src="https://talk.radioangrezi.de/embed.html?{{ site.time | date: '%s%N'}}" border="0" outline="0" loading="lazy"></iframe>  
                        </div>

                    </div>
                </div>
            </div>
        </section>

        {% include schedule_templates.html %}

        <footer id="anchor-footer" class="site-footer">
            {% include footer.html %}
        </footer>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">

</body>
</html>
