<!doctype html>
<html dir="ltr" lang="en-us">
<head>
    {% include html_head.html %}
</head>

<body class="page">
    <div class="wrapper">
        <header class="main-head">
            {% include marquee.html %}
            {% include navigation.html %}
        </header>

        <main><h1>{% if page.title_de %}<span class="i18n i18n-en" lang="en">{{ page.title }}</span><span class="i18n i18n-de" lang="de">{{ page.title_de }}</span>{% else %}{{ page.title }}{% endif %}</h1></main>
        <main>{{ content }}</main>
        
    </div>

</body>
</html>
